@model ApplicationUser

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/KontoInfo.css" asp-append-version="true" />
    <title>Document</title>
</head>

<body>
    <h1>Info om användaren</h1>

    @if (User.Identity.IsAuthenticated && Model != null)
    {
        <p>Antal Vänner: @ViewBag.AntalVanner</p>
        <p>Vänner:
            @foreach (var vanner in Model.Vanner)
            {
                <span>@vanner.VanAnvandare.ForNamn @vanner.VanAnvandare.EfterNamn</span>
            }
        </p>
        <p><strong>Sporter:</strong>
            @foreach (var anvandareSporter in Model.AnvandareSporter)
            {
                <span>@anvandareSporter.Sport.Namn</span>
            }
        </p>

        <form method="post" asp-controller="Konto" asp-action="KontoInfoAnvandare" enctype="multipart/form-data">
            <input type="file" id="Profilbild" name="bild" accept="image/*" />
            <img id="Profilbild1" src="@Model.ProfilBildUrl" alt="Profilbild1">
            <button type="submit">Ändra bild</button>
        </form>

        <p>@Model.ForNamn @Model.EfterNamn</p>
        <label class="Kontakt-info">Kontaktuppgifter:
            <p>@Model.Email</p>
            <p>@Model.PhoneNumber</p>
        </label>
        <p>Födelse år: @Model.FodelsAr</p>
        <form method="post" asp-controller="Konto" asp-action="KontoInfoAnvandareAndraLagge" enctype="multipart/form-data">
            <p>Lägge: @(Model.ArProfilOppen ? "Öppen" : "Privat")</p>
            <button type="submit">Ändra</button>
        </form>
    }
</body>
<script>
    document.getElementById("Profilbild").addEventListener("change", function (event) {
        var file = event.target.files[0];
        if (file) {
            var reader = new FileReader();
            reader.onload = function () {
                var imgElement = document.getElementById("Profilbild1");
                imgElement.src = reader.result;
                imgElement.style.display = "block";
            };
            reader.readAsDataURL(file);
        }
    });
</script>

</html>
