@model ApplicationUser

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/KontoInfo.css" asp-append-version="true" />
    <title>Document</title>
</head>

<body>
    <h1>Info om användaren</h1>

    @if (User.Identity.IsAuthenticated && Model != null)
    {
        <img src="@Model.ProfilBildUrl" alt="Profilbild">
        <p>@Model.ForNamn @Model.EfterNamn</p>
        <label class="Kontakt-info">Kontaktuppgifter:
            <p>✉ @Model.Email</p>
            <p>📞 @Model.PhoneNumber</p>
        </label>
        <p>Födelse år: @Model.FodelsAr</p>
        <p>Lägge: @(Model.ArProfilOppen ? "Öppen" : "Privat")</p>
    }
</body>

</html>
